.section
  .container
    .row
      .col-xs-12.col-sm-12
        %h4.section-title Ediciones Katatay
        .section-body
          .col-md-9= @main.text.html_safe
          .col-md-3= @miembros.text.html_safe